<a href="https://colab.research.google.com/github/Kennethsoh81/projecteuler/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
#Find the sum of all the multiples of 3 or 5 below 1000.

#process

ans=0
x=3 #multiples of 3
y=5 #multiples of 5

for i in range(1001):
  if i%x==0:
      ans+=x
      
  else:
    i%y==0
    ans+=y

print(ans)

#output

4337